/ Marcas
%section#brands
  .container
    %center.brands-cont
      .brands-cont-items
        %img.img-responsive{:alt => "Logo Fisher", :src => "assets/img/logo-fisher.png"}/
      .brands-cont-items
        %img.img-responsive{:alt => "Logo Honeywell", :src => "assets/img/logo-honeywell.png"}/
      .brands-cont-items
        %img.img-responsive{:alt => "Logo Noshok", :src => "assets/img/logo-noshok.png"}/
      .brands-cont-items
        %img.img-responsive{:alt => "Logo Parker", :src => "assets/img/logo-parker.png"}/
      .brands-cont-items.visible-xs
        %img.img-responsive{:alt => "", :src => "assets/img/logo-blank.png"}/
      .brands-cont-items
        %img.img-responsive{:alt => "Logo Wikai", :src => "assets/img/logo-wikai.png"}/
