/ ********** PRELOADER
.preloader
  %header.ms-header.ms-header-primary
    .ms-title.center-vh
      .cont-ms-logo
        %img.img-responsive.animated.fadeIn.animation-delay-5{:alt => "Logotipo", :src => "assets/img/logo_white.svg"}/
        %br
