/ Servicios
%section#services2.pt-5.pb-5
  #intro-next.container
    %h2.text-center.color-primary.mb-2.wow.fadeInDown.animation-delay-4 Nuestros Servicios
    %p.lead.text-center.aco.wow.fadeInDown.animation-delay-5.mw-800.center-block.mb-4
      Nuestro profesionales experimentados
      %span.color-primary
        nos permite brindarle el apoyo
      que necesite, donde lo necesite.
    / 1º Item -- dark
    .row.wow.fadeInRight.animation-delay-2
    .col-xs-12
    .card.card-dark
      .row
        .col-xs-12
          .card-header
            %h3.card-title INSTRUMENTACIÓN
        .col-sm-4.col-sm-push-8
          .withripple.zoom-img
            %a{:href => "javascript:void(0);"}
              %img.img-responsive{:alt => "...", :src => "assets/img/servicios-instrumentacion.jpg"}/
        .col-sm-8.col-sm-pull-4
          .card-block
            %ul.square
              %li Servicio de mantenimiento y calibración de instrumentos de Presión, Temperatura, Flujo y Nivel. ODME y OWS.
              %li Servicio de mantenimiento y calibración Válvulas de Control y Seguridad.
              %li Pruebas de Lazo.
    / /.Item dark
    / 2º Item -- primary
    .row.wow.fadeInLeft.animation-delay-4
    .col-xs-12
    .card.card-primary
      .row
        .col-xs-12
          .card-header
            %h3.card-title SISTEMA CONTRA INCENDIOS
        .col-sm-4
          .withripple.zoom-img
            %a{:href => "javascript:void(0);"}
              %img.img-responsive{:alt => "...", :src => "assets/img/servicios-incendios.jpg"}/
        .col-sm-8
          .card-block
            %ul.square
              %li Pre-comisionado, comisionado y puesta en marcha.
              %li Diseño, instalación y mantenimiento de sistemas de detección y la extinción como e inteligente.
              %li Instalación mecánica de hidrantes.
              %li Diseño e instalación para gases tóxicos y combustibles.
    / /.Item primary
    / 3º Item -- dark
    .row.wow.fadeInRight.animation-delay-2
    .col-xs-12
    .card.card-dark
      .row
        .col-xs-12
          .card-header
            %h3.card-title METAL MECÁNICA
        .col-sm-4.col-sm-push-8
          .withripple.zoom-img
            %a{:href => "javascript:void(0);"}
              %img.img-responsive{:alt => "...", :src => "assets/img/servicios-mecanicos.jpg"}/
        .col-sm-8.col-sm-pull-4
          .card-block
            %ul.square
              %li Fabricación, mantenimiento y reparación de instalaciones estructurales.
              %li Diseño, fabricación, soldadura y montaje mecánico de tuberías, soportes y estructuras.
              %li Amplio stock en tuberías de acero al carbono y accesorios.
              %li Diseño, fabricación y reparación de piezas en torno.
    / /.Item dark
    / 4º Item -- primary
    .row.wow.fadeInLeft.animation-delay-4
    .col-xs-12
    .card.card-primary
      .row
        .col-xs-12
          .card-header
            %h3.card-title ARREGLOS
        .col-sm-4
          .withripple.zoom-img
            %a{:href => "javascript:void(0);"}
              %img.img-responsive{:alt => "...", :src => "assets/img/servicios-arreglos.jpg"}/
        .col-sm-8
          .card-block
            %ul.square
              %li Trabajos de carpintería: closet, gabinetes, escritorios, mesas de trabajo.
              %li Fabricación de cortinas y cobertores en materiales náuticos.
              %li Mantenimiento de equipos y cocinas.
              %li Mantenimiento de instalaciones de cocinas, baños, oficinas.
              %li Pintura en interiores y exteriores.
              %li Trabajos metalmecánicos. Extintores, mangueras y alarmas.
    / /.Item primary
    / 5º Item -- dark
    .row.wow.fadeInRight.animation-delay-2
    .col-xs-12
    .card.card-dark
      .row
        .col-xs-12
          .card-header
            %h3.card-title CONSUMIBLES GENERALES
        .col-sm-4.col-sm-push-8
          .withripple.zoom-img
            %a{:href => "javascript:void(0);"}
              %img.img-responsive{:alt => "...", :src => "assets/img/servicios-ferreteria.jpg"}/
        .col-sm-8.col-sm-pull-4
          .card-block
            %ul.square
              %li Consumibles de ferretería en general: tornillos, brochas, tirro, teflón, electrodos, abrazaderas, rodillos, piedras de esmeril.
              %li Equipos y herramientas: llaves combinadas, alicates, destornilladores, martillos.
              %li Artículos de limpieza: trapos, cepillos, esponjas, coletos, contenedores de basura, entre otros.
              %li Artículos de pintura: brochas, rodillos, repuestos para rodillos, pinturas epoxicas y poliuretano, tirro.
              %li Consumibles para la Industria industrial y cubierta.
    / /.Item dark
    / 6º Item -- primary
    .row.wow.fadeInLeft.animation-delay-4
    .col-xs-12
    .card.card-primary
      .row
        .col-xs-12
          .card-header
            %h3.card-title EQUIPOS CONTRA INCENDIOS Y PROTECCIÓN PERSONAL
        .col-sm-4
          .withripple.zoom-img
            %a{:href => "javascript:void(0);"}
              %img.img-responsive{:alt => "...", :src => "assets/img/servicios-equipos.jpg"}/
        .col-sm-8
          .card-block
            %ul.square
              %li Extintores y mangueras.
              %li Alarmas, detectores de humo y detectores térmicos.
              %li Centro contra incendios.
              %li Difusores de sonido, lentes de seguridady protectores auditivos.
              %li Guantes, bragas y zapatos de seguridad.
              %li Mascarillas contra polvo y partículas.
    / /.Item primary
