/ ***** Menú off-canvas
#mySidenav.sidenav.navbar.navbar-primary
  %div
    %li
      %a.sidenav-link{:href => "index.html#home"}
        %i.fa.fa-chevron-left{"aria-hidden" => "true"}
        Inicio
    %li
      %a.sidenav-link{:href => "index.html#services2"}
        %i.fa.fa-chevron-left{"aria-hidden" => "true"}
        Servicios
    %li
      %a.sidenav-link{:href => "index.html#portfolio"}
        %i.fa.fa-chevron-left{"aria-hidden" => "true"}
        Proyectos
    %li
      %a.sidenav-link{:href => "index.html#contact"}
        %i.fa.fa-chevron-left{"aria-hidden" => "true"}
        Contáctenos
