%header#home-carrusel.home-carrusel.hidden-xs
  .cont-slide
    .slide{:style => "background-image: url('assets/img/slide01.jpg')"}
      .trama-deg
      .container
        %h1.color-white.animated.zoomInDown.animation-delay-26.mb-3.text-center Servicios de Instrumentación
        .animated.fadeInRightTiny.animation-delay-29.mb-2.center-all
          %p.text-center Para el sector marino, comercial e industrial
        .text-center
          %a.btn.btn-primary.btn-xlg.btn-raised.animated.flipInX.animation-delay-30{:href => "#"}
            %i.zmdi.zmdi-plus-circle
            Más info
          %a.btn.btn-gray.btn-xlg.btn-raised.animated.flipInX.animation-delay-32{:href => "index.html#services2"}
            %i.fa.fa-arrow-circle-down
            Nuestros Servicios
  .cont-slide
    .slide{:style => "background-image: url('assets/img/slide03.jpg')"}
      .trama-deg
      .container
        %h1.color-white.animated.zoomInDown.animation-delay-26.mb-3.text-center Servicios de Instrumentación
        .animated.fadeInRightTiny.animation-delay-29.mb-2.center-all
          %p.text-center Para el sector marino, comercial e industrial
        .text-center
          %a.btn.btn-primary.btn-xlg.btn-raised.animated.flipInX.animation-delay-30{:href => "#"}
            %i.zmdi.zmdi-plus-circle
            Más info
          %a.btn.btn-gray.btn-xlg.btn-raised.animated.flipInX.animation-delay-32{:href => "index.html#services2"}
            %i.fa.fa-arrow-circle-down
            Nuestros Servicios
  .cont-slide
    .slide{:style => "background-image: url('assets/img/slide02.jpg')"}
      .trama-deg
      .container
        %h1.color-white.animated.zoomInDown.animation-delay-26.mb-3.text-center Servicios de Instrumentación
        .animated.fadeInRightTiny.animation-delay-29.mb-2.center-all
          %p.text-center Para el sector marino, comercial e industrial
        .text-center
          %a.btn.btn-primary.btn-xlg.btn-raised.animated.flipInX.animation-delay-30{:href => "#"}
            %i.zmdi.zmdi-plus-circle
            Más info
          %a.btn.btn-gray.btn-xlg.btn-raised.animated.flipInX.animation-delay-32{:href => "index.html#services2"}
            %i.fa.fa-arrow-circle-down
            Nuestros Servicios
/ Header para móviles
%header#home-mobile.visible-xs{:style => "position: relative"}
  .trama-deg
  .home-mobile-cont
    %div
      %h1.color-white.animated.zoomInDown.animation-delay-26.mb-3.text-center Servicios de Instrumentación
      .text-center.mt-3
        %a.btn.btn-gray.btn-xlg.btn-raised.animated.flipInX.animation-delay-32{:href => "index.html#services2"}
          %i.fa.fa-arrow-circle-down
          Nuestros Servicios
      %br/
      %br/
      %center
        %a#btnLanguageM.btn-circle.btn-circle-raised.btn-circle-primary{:href => "javascript:void(0)", :onclick => "FbotonEsEnM()"} EN
