!!!
%html{:lang => "es"}
  %head
    = render 'app/layouts/head'
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "#333", :name => "theme-color"}/
    %title Mantproca
    %meta{:content => "MANTPROCA CA es una empresa venezolana que se especializa en la ejecución de proyectos de electricidad, instrumentación, sistema contra incendios, sistema de seguridad, detección de gases tóxicos e inflamables, mantenimiento en general, proyectos con soldaduras, proyectos civiles y mecánicos, suministro de equipos y materiales industriales, consumibles técnicos, arreglos generales. ", :name => "description"}/
    %link{:href => "assets/img/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "assets/css/app.min.css", :rel => "stylesheet"}/
    /[if lt IE 9]
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
  %body#home
    / ********** PRELOADER
    .preloader
      %header.ms-header.ms-header-primary
        .ms-title.center-vh
          .cont-ms-logo
            %img.img-responsive.animated.fadeIn.animation-delay-5{:alt => "Logotipo", :src => "assets/img/logo_white.svg"}/
            %br/
            /
              <center>
              <img class="img-responsive animated zoomInDown animation-delay-5" src="assets/img/preload.gif" alt="...">
              </center>
    / ***** Contenedor General
    .sb-site-container
      / Máscara para el Sidenav
      #sidenav-mask
      / Cabecera principal
      %header.ms-header.ms-header-white
        .container.container-full
          .ms-title
            %a{:href => "index.html"}
              %img.logo-header.img-responsive.animated.zoomInDown.animation-delay-20{:alt => "Logotipo", :src => "assets/img/logo.svg"}/
          .header-right.phone-cont.animated.fadeInRight.animation-delay-22{:style => "margin-top: 10px"}
            %div
              %img.phone-cont-item.img-responsive{:alt => "...", :src => "assets/img/phone.svg"}/
            %div
              %span.phone-header 424-6090020 / 412-6497442
            %div
              %img.phone-cont-item.img-responsive{:alt => "...", :src => "assets/img/phone2.svg"}/
            %div
              %span.phone-header 920069885 / 957218901
      / /. Fin cabecera principal
      %a#btnLanguage.ms-conf-btn.ms-configurator-btn.btn-circle.btn-circle-raised.btn-circle-primary.animated.rubberBand.hidden-xs{:href => "javascript:void(0)", :onclick => "FbotonEsEn()"} EN
      / Barra de Navegación
      %nav.navbar.navbar-static-top.yamm.ms-navbar.ms-navbar-primary
        .container.container-full
          .navbar-header
            %a.navbar-brand{:href => "index.html"}
              %img.logo-header.img-responsive{:alt => "Logotipo", :src => "assets/img/logo_white2.svg", :style => "height: 38px"}/
          #navbar.navbar-collapse.collapse
            %ul.nav.navbar-nav.hidden-sm
              %li
                %a{"data-scroll" => "", :href => "index.html#home"} Inicio
              %li
                %a{"data-scroll" => "", :href => "aboutus.html"} Quienes Somos
              %li
                %a{"data-scroll" => "", :href => "index.html#services2"} Servicios
              %li
                %a{"data-scroll" => "", :href => "index.html#portfolio"} Proyectos
              %li
                %a{"data-scroll" => "", :href => "index.html#contact"} Contáctenos
          / navbar-collapse collapse
          %a.btn-navbar-menu.visible-sm.visible-xs{:href => "javascript:void(0)", :onclick => "toggleNav()"}
            %i.zmdi.zmdi-menu
        / container
      / /.Fin de la barra de navegación
      / Contenido Portfolio Proyectos
      .material-background.bg-portfolio
        .trama2
      .container
        .text-center.mb-6
          %h1.no-m.ms-site-title.color-white.center-block.ms-site-title-lg.mt-2.animated.zoomInDown.animation-delay-5 Nuestros Proyectos
          %p.lead.lead-lg.color-white.text-center.center-block.mt-2.mb-4.mw-800.text-uppercase.fw-300.animated.fadeInUp.animation-delay-7
            Descubre
            %b nuestros proyectos
            y su proceso de ejecución. Nuestros principios son calidad, profesionalismo y responsabilidad.
        %a{:href => "./project-item.html", :title => "Ver proyecto"} Ver proyecto
        /
          <div class="row">
          
          <div class="col-xs-12 col-sm-6 mb-2">
          <div class="ms-thumbnail-container">
          <figure class="ms-thumbnail ms-thumbnail-horizontal">
          <img src="assets/img/port2.jpg" alt="" class="img-responsive">
          <figcaption class="ms-thumbnail-caption text-center">
          <div class="ms-thumbnail-caption-content">
          <h3 class="ms-thumbnail-caption-title">Título imagen</h3>
          <p>Descripción de la imagen.</p>
          <a href="javascript:void(0)" class="btn-circle btn-circle-raised ml-1 btn-circle-white color-success">
          <i class="zmdi zmdi-share"></i>
          </a>
          </div>
          </figcaption>
          </figure>
          </div>
          </div>
          
          <div class="col-xs-12 col-sm-6 mb-2">
          <div class="ms-thumbnail-container">
          <figure class="ms-thumbnail ms-thumbnail-horizontal">
          <img src="assets/img/port10.jpg" alt="" class="img-responsive">
          <figcaption class="ms-thumbnail-caption text-center">
          <div class="ms-thumbnail-caption-content">
          <h3 class="ms-thumbnail-caption-title">Título imagen</h3>
          <p>Descripción de la imagen.</p>
          <a href="javascript:void(0)" class="btn-circle btn-circle-raised ml-1 btn-circle-white color-success">
          <i class="zmdi zmdi-share"></i>
          </a>
          </div>
          </figcaption>
          </figure>
          </div>
          </div>
          
          <div class="col-xs-12 col-sm-6 mb-2">
          <div class="ms-thumbnail-container">
          <figure class="ms-thumbnail ms-thumbnail-horizontal">
          <img src="assets/img/port11.jpg" alt="" class="img-responsive">
          <figcaption class="ms-thumbnail-caption text-center">
          <div class="ms-thumbnail-caption-content">
          <h3 class="ms-thumbnail-caption-title">Título imagen</h3>
          <p>Descripción de la imagen.</p>
          <a href="javascript:void(0)" class="btn-circle btn-circle-raised ml-1 btn-circle-white color-success">
          <i class="zmdi zmdi-share"></i>
          </a>
          </div>
          </figcaption>
          </figure>
          </div>
          </div>
          
          <div class="col-xs-12 col-sm-6 mb-2">
          <div class="ms-thumbnail-container">
          <figure class="ms-thumbnail ms-thumbnail-horizontal">
          <img src="assets/img/port23.jpg" alt="" class="img-responsive">
          <figcaption class="ms-thumbnail-caption text-center">
          <div class="ms-thumbnail-caption-content">
          <h3 class="ms-thumbnail-caption-title">Título imagen</h3>
          <p>Descripción de la imagen.</p>
          <a href="javascript:void(0)" class="btn-circle btn-circle-raised ml-1 btn-circle-white color-success">
          <i class="zmdi zmdi-share"></i>
          </a>
          </div>
          </figcaption>
          </figure>
          </div>
          </div>
          
          <div class="col-xs-12 col-sm-6 mb-2">
          <div class="ms-thumbnail-container">
          <figure class="ms-thumbnail ms-thumbnail-horizontal">
          <img src="assets/img/port4.jpg" alt="" class="img-responsive">
          <figcaption class="ms-thumbnail-caption text-center">
          <div class="ms-thumbnail-caption-content">
          <h3 class="ms-thumbnail-caption-title">Título imagen</h3>
          <p>Descripción de la imagen.</p>
          <a href="javascript:void(0)" class="btn-circle btn-circle-raised ml-1 btn-circle-white color-success">
          <i class="zmdi zmdi-share"></i>
          </a>
          </div>
          </figcaption>
          </figure>
          </div>
          </div>
          
          </div>
      / /.container
      / Footer
      %aside.ms-footbar
        .ms-hero-bg-dark
          .container
            .row
              / Footer About Us Mobile
              /
                <div class="col-md-4 ms-footer-col pt-3 visible-xs visible-sm">
                <img class="logo-header img-responsive center-block" style="max-width: 300px" src="assets/img/logo_white2.svg" alt="Logotipo">
                <p class="text-white text-justify text-footer mt-2">
                Una empresa venezolana que se especializa en la ejecución de proyectos de electricidad, instrumentación, sistema contra incendios, sistema de seguridad, detección de gases tóxicos e inflamables, mantenimiento en general, proyectos con soldaduras, proyectos civiles y mecánicos, suministro de equipos y materiales industriales, consumibles técnicos, arreglos generales.
                </p>
                </div>
              / Footer About Us
              / Footer About Us
              .col-md-4.ms-footer-col.pt-3
                %img.logo-header.img-responsive.center-block{:alt => "Logotipo", :src => "assets/img/logo_white.svg", :style => "max-width: 300px"}/
                %p.text-white.text-center.text-footer.mt-2
                  Una empresa venezolana que se especializa en la ejecución de proyectos de electricidad, instrumentación, sistema contra incendios, sistema de seguridad, detección de gases tóxicos e inflamables, mantenimiento en general, proyectos con soldaduras, proyectos civiles y mecánicos, suministro de equipos y materiales industriales, consumibles técnicos, arreglos generales.
                / Sitemap
                .ms-footbar-block{:style => "border-top: 1px solid #222"}
                  %h3.ms-footbar-title.mt-2 Sitemap
                  %ul.list-unstyled.ms-icon-list.two_cols
                    %li
                      %a{:href => "index.html"}
                        %i.zmdi.zmdi-home
                        Inicio
                    %li
                      %a{:href => "#services"}
                        %i.fa.fa-fa
                        Servicios
                    %li
                      %a{:href => "portfolio.html"}
                        %i.zmdi.zmdi-case
                        Proyectos
                / /. Sitemap
              / Footer About Us
              / Proyectos
              .col-sm-6.col-md-4.ms-footer-col.pt-3
                .ms-footbar-block
                  %h3.ms-footbar-title.mb-2 Últimos Proyectos
                  .ms-footer-media
                    .media
                      .media-left.media-middle
                        %a{:href => "javascript:void(0)"}
                          %img.media-object.media-object-circle{:alt => "...", :src => "assets/img/art1.jpg"}/
                      .media-body
                        %h4.media-heading
                          %a{:href => "javascript:void(0)"} Mantenimiento y suministro al Crucero Winterfell.
                        .media-footer
                          %span
                            %i.zmdi.zmdi-time.color-info-light
                            02 de julio de 2018
                    .media
                      .media-left.media-middle
                        %a{:href => "javascript:void(0)"}
                          %img.media-object.media-object-circle{:alt => "...", :src => "assets/img/art2.jpg"}/
                      .media-body
                        %h4.media-heading
                          %a{:href => "javascript:void(0)"} Soldadura de taque en el CRP.
                        .media-footer
                          %span
                            %i.zmdi.zmdi-time.color-info-light
                            15 de junio de 2018
                    .media
                      .media-left.media-middle
                        %a{:href => "javascript:void(0)"}
                          %img.media-object.media-object-circle{:alt => "...", :src => "assets/img/art3.jpg"}/
                      .media-body
                        %h4.media-heading
                          %a{:href => "javascript:void(0)"} Fabricación de engranes para generador trifásico.
                        .media-footer
                          %span
                            %i.zmdi.zmdi-time.color-info-light
                            03 de junio de 2018
              / /. Artículos del Blog
              .col-sm-6.col-md-4.ms-footer-col.ms-footer-text-right.pt-3
                .ms-footbar-block
                  %address.mb-1.pb-1
                    %p
                      %i.color-warning-light.zmdi.zmdi-map.mr-1>
                      Venezuela
                    %p.addre
                      %i.color-danger-light.zmdi.zmdi-pin.mr-1
                      Esquina Bolívar con Ampíes, Edif. Minanca, Piso Pb, Of #1, Sector Punta Cardón, Punto Fijo, Estado Falcón.
                    %p
                      %i.color-info-light.zmdi.zmdi-email.mr-1
                      %a{:href => "mailto:mantproca@gmail.com"} mantproca@gmail.com
                      %a{:href => "mailto:mantproca.contratos@gmail.com"} mantproca.contratos@gmail.com
                    %p
                      %i.color-royal-light.zmdi.zmdi-phone.mr-1>
                      (+58) 4246090022 / 4126497442
                  %address.pt-2{:style => "border-top:1px solid #222"}
                    %p
                      %i.color-warning-light.zmdi.zmdi-map.mr-1>
                      Perú
                    %p.addre
                      %i.color-danger-light.zmdi.zmdi-pin.mr-1
                      Departamento Piura, Provincia Talara, Distrito Pariñas, Urb. Los Pinos I etapa, lote L, Dpto. 07.
                    %p
                      %i.color-info-light.zmdi.zmdi-email.mr-1
                      %a{:href => "mailto:mantproca@gmail.com"} mantproca@gmail.com
                      %a{:href => "mailto:mantproca.technical@gmail.com"} mantproca.technical@gmail.com
                    %p
                      %i.color-royal-light.zmdi.zmdi-phone.mr-1>
                      (+51) 920069885 / 957218901
      %footer.ms-footer{:style => "background: #030202"}
        .container
          %p
            Copyright © Mantproca 2018  |  Power by
            %a{:href => "http://www.slicegroup.xyz/", :target => "_blank"} Slice Group
            whith
            %a{:href => "http://keppleradmin.com", :target => "_blank"}
              %img.keppler-logo{:alt => "Keppler", :src => "assets/img/keppler-logo.svg"}/
      / ***** Menú off-canvas
      #mySidenav.sidenav.navbar.navbar-primary
        %div
          %li
            %a.sidenav-link{:href => "index.html#home"}
              %i.fa.fa-chevron-left{"aria-hidden" => "true"}
              Inicio
          %li
            %a.sidenav-link{:href => "index.html#services2"}
              %i.fa.fa-chevron-left{"aria-hidden" => "true"}
              Servicios
          %li
            %a.sidenav-link{:href => "index.html#portfolio"}
              %i.fa.fa-chevron-left{"aria-hidden" => "true"}
              Proyectos
          %li
            %a.sidenav-link{:href => "index.html#contact"}
              %i.fa.fa-chevron-left{"aria-hidden" => "true"}
              Contáctenos
      / Botón para volver arriba
      .btn-back-top
        %a#back-top.btn-circle.btn-circle-primary.btn-circle-sm.btn-circle-raised{"data-scroll" => "", :href => "#"}
          %i.zmdi.zmdi-long-arrow-up
    / /.Fin sb-site-container - Contenedor general
    / Core JS
    %script{:src => "assets/js/plugins.min.js"}
    %script{:src => "assets/js/app.min.js"}
    %script{:src => "assets/js/lead.js"}
    %script{:src => "assets/js/ecommerce.js"}
    %script{:src => "assets/js/slick.min.js"}
    %script{:src => "assets/js/custom.js"}
    :javascript
      var value = true
      function FbotonEsEn() {
        var changeLang = document.getElementById('btnLanguage');
        value?changeLang.innerText = "ES":changeLang.innerText = "EN";
        value=!value
      }

      var value2 = true
      function FbotonEsEnM() {
        var changeLang = document.getElementById('btnLanguageM');
        value2?changeLang.innerText = "ES":changeLang.innerText = "EN";
        value2=!value2
      }
